*{
    margin: 0;
}
#nav1{
    background-color: black;
    
}
#nav1 ul{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: 0 auto;
    margin-top:20px ;
    padding: 10px;
}
#nav1 ul li{
    list-style-type: none;
    
}
#nav1 ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
    padding: 10px;
}
#nav1 ul li a:hover{
    background-color: rgba(255, 255, 0, 0.87);
    color: red;
}
#nav1 ul li a:focus{
    background-color: white;
    color: black;
}
#nav1 ul li a:active{
    background-color: white;
    color: black;
}
#nav2{
    background-color:rgba(228, 228, 228, 0.301);
    margin-top: 10px;
    padding: 10px;
    
}
#nav2 ul{
    display: flex;
    
   max-width: 1200px;
}
#nav2 ul li a{
    color: greenyellow;
    
    
}
nav ul li i img{
    width: 30px;
    height: 20px;
    
}
#nav2 ul li{
    list-style-type: none;
    margin: 30px;
}
#nav2 ul li a{
    text-decoration: none;
    padding: 10px;
}
#i1{
    margin-left: 150px;
}
#nav2 ul li a:hover{
    background-color: black;
    color: white;
}
main{
    max-width: 850px;
    margin: 0 auto;
    
}
main h1{
    text-align: center;
    padding: 10px;
    color: red;
    text-shadow: 0 4px 5px rgb(73, 0, 0);
}
